@model SacramentMeeting.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conducting" class="control-label"></label>
                <input asp-for="Conducting" class="form-control" />
                <span asp-validation-for="Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presiding" class="control-label"></label>
                <input asp-for="Presiding" class="form-control" />
                <span asp-validation-for="Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invocation" class="control-label"></label>
                <input asp-for="Invocation" class="form-control" />
                <span asp-validation-for="Invocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benediction" class="control-label"></label>
                <input asp-for="Benediction" class="form-control" />
                <span asp-validation-for="Benediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label"></label>
                <input asp-for="OpeningHymn" class="form-control" />
                <span asp-validation-for="OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <input asp-for="ClosingHymn" class="form-control" />
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker1" class="control-label"></label>
                <input asp-for="Speaker1" class="form-control" />
                <span asp-validation-for="Speaker1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic1" class="control-label"></label>
                <input asp-for="Topic1" class="form-control" />
                <span asp-validation-for="Topic1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker2" class="control-label"></label>
                <input asp-for="Speaker2" class="form-control" />
                <span asp-validation-for="Speaker2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic2" class="control-label"></label>
                <input asp-for="Topic2" class="form-control" />
                <span asp-validation-for="Topic2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker3" class="control-label"></label>
                <input asp-for="Speaker3" class="form-control" />
                <span asp-validation-for="Speaker3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic3" class="control-label"></label>
                <input asp-for="Topic3" class="form-control" />
                <span asp-validation-for="Topic3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
